:root {
	/* Theme Colors */
	--theme-primary-background: #E4F9E7;
	--theme-primary-light-background: #FFF;
	--theme-primary-dark-background: #80CC86;
	--theme-primary-color: #000;
	--theme-secondary-background: #52CFDD;
	--theme-secondary-light-background: #81DCE6;
	--theme-secondary-dark-background: #44AAB5;
	--theme-secondary-color: #000;
	--theme-tertiary-background: #F9BDBE;
	--theme-tertiary-light-background: #FAC96D;
	--theme-tertiary-color: #000;
	
	/* Page */
	--page-margin: 6rem;
	--page-element-padding: 1rem;
}
